@model WebApiQR.INFORMATIONS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>INFORMATIONS</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QR_CODE.qr_local)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QR_CODE.qr_local)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.informations1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.informations1)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
